<div ng-controller="SalaryEditCtrl">
    <div class="container">
        <h1>Edit Salary {{editDataUnit.country}} ({{editDataUnit.year}}) </h1>
          <tr><h4>APIKEY: sos07</h4></tr>
                    <tr>
                        <th>Introduce APIKEY<input class="form-control" ng-model="apikey"></th>
                    <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Year</th>
                        <th>AverageSalary</th>
                        <th>MinimumSalary</th>
                        <th>RiskOfPoverty</th>
                    </tr>
                </thead>
                <tbody>
                  
                    <tr>
                        <td><input class="form-control" ng-model="newSalaryStat.country"></td>
                        <td><input class="form-control" ng-model="newSalaryStat.year"></td>
                        <td><input class="form-control" ng-model="newSalaryStat['averageSalary']" ></td>
                        <td><input class="form-control" ng-model="newSalaryStat['minimumSalary']" ></td>
                        <td><input class="form-control" ng-model="newSalaryStat['riskOfPoverty']" ></td>
                        <td ><button class="btn btn-warning" ng-click="putSalaryStat()">EDIT salaryStat</button></td>
                    </tr>
                
                    </tr>
                </tbody>
            </table>
    </div>
</div>