<div ng-controller="SalaryEditCtrl">
    <div class="container">
        <h1>Edit Salary</h1>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h3>{{editDataUnit.country}} ({{editDataUnit.year}})</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="minimumS" ng-model="editDataUnit['minimumSalary']">
                        <label for="minimumS" class="active">Minimum Salary</label>
                    </div>
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="averageS" ng-model="editDataUnit['averageSalary']">
                        <label for="averageS" class="active">Average Salary</label>
                    </div>
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="povertyE" ng-model="editDataUnit['riskOfPoverty']">
                        <label for="povertyE" class="active">Risk Of Poverty</label>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12 right-align">
                <button class="btn waves-effect waves-light" ng-click="editData(editDataUnit)"><i class="material-icons left">edit</i>Edit</button>
                <button class="btn waves-effect waves-light red" ng-click="discardData()"><i class="material-icons left">delete</i>Discard changes</button>
            </div>
        </div>
    </div>
</div>
