<h2>Edit Invest Education Stat </h2>
            <table class="table "> <!---table-striped --->
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Year</th>
                        <th>Education</th>
                        <th>Health</th>
                        <th>Military</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat.country"></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat.year"></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat['investEducationStat']" ></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat['healthExpenditureStat']" ></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat['militaryExpenditureStat']" ></td>
                        <td ><button class="btn btn-primary" ng-click="updateInvestEducationStat()">UPDATE </button></td>
                    </tr>
                    <!--
                    <tr>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat.country"></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat.year"></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat['investEducationStat']" ></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat['healthExpenditureStat']" ></td>
                        <td><input class="form-control" ng-model="updatedInvestEducationStat['militaryExpenditureStat']" ></td>
                        <td ><button class="btn btn-warning" ng-click="putInvestEducationStat()">EDIT</button></td>
                    </tr> -->
                </tbody>
            </table>