<div ng-controller="JoseEditCtrl">
    <div class="container">
        <h1>Edit Invest Education Stat</h1>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h3>{{editDataUnit.country}} ({{editDataUnit.year}})</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="investS" ng-model="editDataUnit['investEducationStat']">
                        <label for="investS" class="active">Invest Education Stat</label>
                    </div>
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="healthS" ng-model="editDataUnit['healthExpenditureStat']">
                        <label for="healthS" class="active">Health Expenditure</label>
                    </div>
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="militaryE" ng-model="editDataUnit['militaryExpenditureStat']">
                        <label for="militaryE" class="active">Military Expenditure</label>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12 right-align">
                <button class="btn waves black" ng-click="editData(editDataUnit)"><i class="material-icons left">edit</i>Edit</button>
                <button class="btn waves red" ng-click="discardData()"><i class="material-icons left">delete</i>Discard changes</button>
            </div>
        </div>
    </div>
</div>
