<div ng-controller="JoseEditCtrl">
    <div class="container">
        
        <h1 >Edit investEducationStat {{editDataUnit.country}} ({{editDataUnit.year}}) </h1>
          <tr><h4>APIKEY: sos07</h4></tr>
          
                    <tr>
                        
                        <th>Introduce APIKEY<input class="form-control" ng-model="apikey"></th>
                    <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Year</th>
                        <th>investEducationStat</th>
                        <th>healthExpenditureStat</th>
                        <th>militaryExpenditureStat</th>
                    </tr>
                </thead>
                <tbody>
                  
                    <tr>
                        <td><input class="form-control" ng-model="newInvestEducationStat.country"></td>
                        <td><input class="form-control" ng-model="newInvestEducationStat.year"></td>
                        <td><input class="form-control" ng-model="newInvestEducationStat['investEducationStat']" ></td>
                        <td><input class="form-control" ng-model="newInvestEducationStat['healthExpenditureStat']" ></td>
                        <td><input class="form-control" ng-model="newInvestEducationStat['militaryExpenditureStat']" ></td>
                        <td ><button class="btn btn-warning" ng-click="putInvestEducationStat()">EDIT InvestEducationStat</button></td>
                    </tr>
                
                    </tr>
                </tbody>
            </table>
    </div>
</div>